* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  background-color: #00050d;
  align-items: center;
  color: white;
  padding: 4vh;
}

.nav-left ul,
.nav-right ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.nav-left ul li a {
  text-decoration: none;
  color: white;
}

.nav-logo {
  width: 6vw;
}

.svg-icon,
.grid-svg {
  filter: invert(1);
}

.user-svg {
  width: 2vw;
}

.join-btn {
  height: 4vh;
  width: 5vw;
  border-radius: 5px;
  border: none;
  background-color: #157bcf;
  color: white;
  font-size: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.languages {
  display: none;
  position: absolute;
  min-width: 600px;
  column-count: 4;
  column-gap: 50px;
  background-color: rgb(20, 18, 18, 0.2);
  right: 0;
  top: 100%;
  backdrop-filter: blur(5px);
  margin-top: 8px;
}

.dropdown:hover .languages {
  display: block;
  margin-top: 20px;
}

.languages a {
  text-decoration: none;
  font-size: 2vh;
  color: white;
  margin-top: 20px;
  display: block;
}

.container {
  display: flex;
  margin: 2vw;

}

.container-left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 5rem;
}

.heading {
  font-size: 5vh;
}

.description {
  font-size: 2vh;
}

.sign-btn {
  width: 12vw;
  height: 6vh;
  border: none;
  border-radius: 5px;
  font-size: 2vh;
  font-weight: 300;
}

.container-right {
  flex: 1;
}

.container-right img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: top right;
  display: block;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin: 2rem;
  padding: 1rem;
}

.box img {
  width: 100%;
  border-radius: 1rem;
}

.container-3 {
  display: flex;
  background-color: #00050d;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  gap: 1rem;
}

.footer-logo img {
  width: 6vw;
  margin-top: 20px;
}

.terms {
  display: flex;
  gap: 1rem;
}

.terms a {
  text-decoration: none;
  color: #90dff7;
}

.copy {
  color: #7b8e9c;
  margin-bottom: 1rem;
}